*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
a, p, li, .dropbtn, h2{
    font-family: 'Roboto', sans-serif;

}

.dropbtn {
    background-color: #ffffff;
    color: rgb(51, 51, 51);
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0 400%;
    margin-top: 1.5vh;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    background-color: #ffffff;
    width: 24.8vw;
    padding-top: 1vh;
  }
  .dropdown-content a{
    padding: 1.5vh 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {background-color: #fff3dc;} 

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #ffffff;}
  
  nav a:hover{
    color: #00779b;
  }

  nav ul{
    display: flex;
    list-style: none;
  }
  nav{
    width: 100%;
  }
  nav a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    padding: 1.5vh 0;
  }
  nav li{
    display: block;
    width: 25%;
    border-right: 1px solid;
  }
  nav li:last-child{
    border-right: 0px;
  }
header img{
    width:3vw;
    margin-right: 1vw;

}
header h1{
    font-family: 'Anybody', sans-serif;
    color: rgb(21, 21, 21);
    font-size: 16px;
}
header{
    background-color: #ffffff;
    padding: 4vh 5vh 4vh 5vw;
    border-bottom: 1px solid;;
}
nav{border-bottom: 1px solid;;}

.logo{
    display: flex;
    
}
h1{
    margin: auto 0;
}
main{
    background-color: rgb(255, 247, 237);
}
.content{
    margin: 0 auto;
    width: 40%;
    padding: 6vh 3vw;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-width: 800px;
    text-align: justify;
    min-width: 600px;
}
.content p{
  font-size: 16px;
  color: #121212;
  font-weight: 300;
}
.section img{
    width: 22vw;
    float: left;
    margin-right: 20px; 
    margin-bottom: 1%;
}
.clear{ clear: both; }
.text_container{
  margin: 4vh 0;
}
main h2{
  font-size: 20px;
  margin-bottom: 2vh;
  color: #181818;
}
.text{
    display: flex;
    justify-content: space-between;
}
.text p{
    text-align: justify;
}
.left, .right{
  width: 48%;
}
.left p, .right p{
  padding-bottom: 1vh;
}
.mountain img{
    width: 100%;
}
footer{
    background-color: #0e0e0e;
    height: 10vh;
}
footer p{
  color: white;
  padding: 3vh 5vw;
}